
{% extends 'base.html' %}
{% block content %}

     <a href="{{ url_for('public_dataexplore') }}">
    <img   class="img-fluid"  src="{{url_for('static', filename='images/' + 'cap' + '.jpg')}}"
            alt =""  height="600"
        /> 
	</a>	
	
    <img   class="img-fluid"  src="{{url_for('static', filename='images/' + 'cape' + '.jpg')}}"
            alt =""  height="600"
        /> 
    <img   class="img-fluid"  src="{{url_for('static', filename='images/' + 'caper' + '.jpg')}}"
            alt =""  height="600"
        /> 
    <img   class="img-fluid"  src="{{url_for('static', filename='images/' + 'capert' + '.jpg')}}"
            alt =""  height="600"
        /> 
	
 
{% endblock %} 
  
 

