
{% extends 'base.html' %}
{% block content %}

<h1>DATA EXPLORATION FOR SVM CLASSIFIER</h1>

<h2>Data has been validated by plotting Label Vs Rating for the Number of occurances . </h2>



  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-32-53' + '.jpg')}}"
            alt =""  height="300"
        />

<h2>Data has been validated by plotting Rating Vs Product_Category for the Number of occurances .</h2>



  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-33-22' + '.jpg')}}"
            alt =""  height="500"
        />

<h2>Data has been validated by plotting Verified Purchase (Y/N), Label  for the Number of occurances .</h2>



  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-37-41' + '.jpg')}}"
            alt =""  height="300"
        />




<h2>Data has been validated by plotting  Text length Vs Label for the Number of occurances .</h2>




  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-34-00' + '.jpg')}}"
            alt =""  height="300"
        />


<h2>Data has been validated by plotting  Punctuation_count Vs Label for the Number of occurances .</h2>


  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_03-09-40' + '.jpg')}}"
            alt =""  height="300"
        />

<h4>TextSTAT is a concordance program which was designed to be user friendly and provide simple Internet functionality. Texts can be combined to form corpora . The program analyses these text corpora and displays word frequency lists and concordances to search terms. The program is written in Python and offered here as a Windows program. TextSTAT genrate FKscore of the text.</h4>

<h2>Data has been validated by plotting  FKscore Vs Label  for the Number of occurances .</h2>


  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-38-35' + '.jpg')}}"
            alt =""  height="300"
        />

<h2>Caps Count</h2>

<h4>Allows us to count the number of unique words which will be the number of words in our bag-of-words model. A simple statistic for basic insight on the impact of our data cleaning.</h4>



  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-34-49' + '.jpg')}}"
            alt =""  height="300"
        />


<h2>Data has been validated by plotting Stopwords Counts Vs Label for the Number of occurances . In computing, stop words are words which are filtered out before or after processing of natural language data (text)</h2>



  <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_02-39-27' + '.jpg')}}"
            alt =""  height="300"
        />

<h2>Data has been validated by plotting Emojis_count Vs Label for the Number of occurances </h2>

   <img     src="{{url_for('static', filename='images/' + 'Xnip2019-02-06_03-12-28' + '.jpg')}}"
            alt =""  height="300"
        /> 




{% endblock %} 
  
 

